* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nosotros {
    font-family: "Poppins", Sans-serif;
}

.slider li {
    list-style-type: none;
}

.div-header {
    width: 100%;
}

.slider img {
    width: 100%;
}


.footer {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(66, 194, 255);
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 80%;
    border-bottom: 5px solid white;
}

.contact {
    grid-area: contact;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 30px;
}

.dir {
    grid-area: dir;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 30px;
}

.direccion li {
    list-style-type: none;
}

.hov a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 50px;
    margin-top: 15px;
}

.hov a:hover {
    font-weight: bold;
}

.horario-atencion {
    grid-area: horarios-atencion;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 30px;
}

.tel {
    font-family: "Comic Sans MS,Arial,Verdana";
    color: white;
    text-decoration: none;
    justify-self: center;
    align-self: center;
    margin-left: 120px;
    padding: 20px;
    grid-area: tel;
}

.tel:hover {
    font-weight: bold;
}

.barcala {
    margin-left: 15px;
    grid-area: barcala;
}

.dir-oct,
.dir-barcala,
.dir-salto {
    margin-top: 20px;
    margin-bottom: 20px;
}

.octubre {
    margin-left: 15px;
    grid-area: octubre;
}

.salto {
    margin-left: 15px;
    grid-area: salto;
}

.horarios {
    grid-area: horarios;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 30px;
}

.contacto,
.direccion,
.horario-de-atencion {
    border-bottom: 2px solid white;
}


/*PRESUPUESTO*/

.lead {
    margin: 10px;
}

.heading-bar {
    border-bottom: 1px solid#d9d9d9;
    padding: 6px 0 0;
    margin: 0 0 22px;
    position: relative;
}

.heading-bar h2 {
    margin: 10px;
    font-size: 24px;
    color: #333;
    line-height: 24px;
    padding-bottom: 6px;
    border-bottom: 4px solid rgb(66, 194, 255);
    display: inline-block;
    margin-bottom: -2px;
    border-color: rgb(66, 194, 255);
}

form h3 {
    /* width: 100%; */
    margin: 10px;
    font-size: 18px;
    color: rgb(66, 194, 255);
    display: inline-block;
    border-color: rgb(66, 194, 255);
}

.form-group {
    margin: 10px;
}

.form-comentarios,
.form-control {
    width: 100%;
}

.form-group label {
    font-stretch: narrower;
}

.radios {
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
}

.botones {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    /* margin-left: 200px; */
    column-gap: 25px;
}

.devolucion-presupuesto-1 {
    border: 4px solid rgb(66, 194, 255);
}

.form-group {
    display: flex;
    flex-grow: wrap;
    flex-direction: column;
}


/*CONTACTO.HTML*/

.contactos {
    text-align: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
}

.contacto-formas {
    padding-bottom: 20px;
}

.contacto-formas a {
    text-decoration: none;
    color: black;
}

.form-contact {
    color: #33333382;
}

.form-group1 {
    padding-bottom: 20px;
    margin-left: 10px;
}

.mapa-central {
    width: 100%;
}


/* NOSOTROS.HTML */

.historia {
    padding: 30px;
    width: 100%;
    background-color: rgb(66, 194, 255);
    text-align: center;
    font-family: "Poppins", Sans-serif;
    color: rgb(104, 109, 118);
}

.historia-h2 {
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-shadow: rgb(66, 194, 255) 5px 1px 4px;
    box-sizing: inherit;
}

.historia-p {
    padding: 30px;
    width: 100%;
    text-align: center
}

.galeria-h3 {
    text-shadow: rgb(66, 194, 255) 3px 1px 2px;
    text-align: center;
    font-size: 10px;
}

.galeria img {
    width: 70%;
    margin: 10px;
}

.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}



@media(min-width:576px) {
    .div-header {
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: self-end;
    }
    
    .slider {
        height: 150px;
    }
    
@media(min-width:768px) {
    .slider {
        height: 250px;
    }
    
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1r;
        grid-template-areas: "contact dir horario-atencion" "tel barcala horarios" "tel octubre horarios" "tel salto horarios";
        height: 340px;
    }
   
}
