* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider li {
    list-style-type: none;
}

.div-header {
    width: 100%;
}

.slider img {
    width: 100%;
}

.cuando {
    width: 100%;
    background-color: #049CB3;
    height: 20px;
   
}

.cuando li{
    list-style-type: none;
    text-aling: center;
    color: white;
    font-family:  system-ui;
    font-size: 80%;
.footer {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(66, 194, 255);
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 80%;
    border-bottom: 5px solid white;
}

@media(min-width:576px) {
    .div-header {
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: self-end;
    }
    .countdown {
        display:flex;
        align-items: self-end;
        height: 20%;
        width: 50%;
    }
    
@media(min-width:768px) {
    
   
}
